body {
  margin: 0;
  background-image: url('https://i.imgur.com/c06hqfV.jpg');
  background-size: cover;
}

#colors {
  width: 90%;
  height: 90%;
  min-width: 95vw;

  max-height: 90vh;
  min-height: 90vh;
  margin: 0 auto;
}

#white-bg{
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  background: white;
  text-align: center;
  font-size: 40px;

}

.container {
  margin: 0 auto;
  position: relative;
  width: 800px;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0 px;
  height: 130px;
  text-align: center;
  color: rgb(249, 249, 249, 0.9);
  text-shadow: 0px 0px 5px #fff;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Major Mono Display', monospace;
}

.grid {
  visibility: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  width: 600px;
  height: 600px;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 10%;

}

.gridStyle {
  border-radius: 15px;
  background: rgb(139, 174, 215, 0.04);
  border: 1px solid white;
}

h1 {
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255, 0.6);
  text-shadow: 0px 0px 5px #fff;
  font-size: 100px;
}

a {
  white-space: nowrap;
  text-decoration: none;
  font-size: 15px;
}

.pvporcvp {
  visibility: visible;
  position: absolute;
  margin: 0 auto;
  top: 145%;
  left: 32%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}


.easyorhard {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 145%;
  left: 32%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.cross {
  z-index: 4;
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  left: 18%;
  color: red;
  font-size: 50px;
  text-shadow: 0px 0px 25px red;
}

.noughty {
  z-index: 4;
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  left: 33%;
  color: red;
  font-size: 50px;
  text-shadow: 0px 0px 25px red;
}

.player1 {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 183%;
  left: 25%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.player2 {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 183%;
  left: 25%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.computer {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 183%;
  left: 22%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.draw {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 183%;
  left: 39%;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
  background: rgb(173, 225, 236, 0.1);
  border-radius: 15px;
  padding: 20px;
}

button {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #939393;
  padding: 10px 0;
  margin: auto;
  border: 2px solid #939393;
  border-radius: 4px;
  text-decoration: none;
  width: 100%;
}



.counterHead {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  top: 17%;
  left: 3%;
  text-align: center;
  width: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 5px #fff;
}
